:root{
    --branco-branco: #ffffff;
    --branco: #f0f0f0;
    --cinza: #c0c0c0;
    --cinza-claro: #dddddd; 
    --cinza-cinza: #808080;
    --preto: #000000;
    
    --dourado: #C9A543;
    --azul: #131C2B;

    --whatsapp: #25D366;
    --facebook: #4267B2;
}