.areas{
    align-items: center;
    background-color: var(--branco-branco);
    display: flex;
    flex-direction: column;
    padding: 30px 2rem;
}

.areas__titulo{
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.areas__texto{
    margin-bottom: 1.25em;
    text-align: center;
}

.areas__box{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.areas__box-titulo{
    align-items: center;
    background-color: var(--branco);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px var(--preto);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1em;
    padding: 1em;
}

.areas__box-titulo:hover{
    color: var(--dourado);
}

.areas__box-titulo:before{
    content: "\2727";
    padding-right: 5px;
}

.areas__box-descricao{
    background-color: var(--branco);
    border: 1px solid var(--cinza);
    border-radius: 10px;
    display: none;
    margin-bottom: 1.5em;
    padding: 1em;
    position: relative;
    text-align: justify;
    top: -0.5em;
}

@media screen and (max-width: 480px){
    .areas{
        padding: 30px 1rem;
    }
    .areas__box{
        width: 100%;
    }
}